<header class="header-container">
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
<!--
                <li class="navigation__item"><a href="#" class="navigation__link">כניסה</a></li>
-->
                <li class="navigation__item"><a href="#" class="navigation__link">גרסת פרימיום</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">המלצות</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">תכונות</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">צור קשר</a></li>

<!--
                <li class="navigation__item"><a href="#" class="navigation__link">להרשמה חינמ</a></li>
-->
            </ul>
        </nav>
    </div>
    <!--<nav class="main-menu">

        <ul class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>
            <div class="navigation__background">&nbsp;</div>
            <li><a class="login" href="#">כניסה</a></li>
            <li><a class="premium-version" href="#">גרסת פרימיום</a></li>
            <li><a class="testimonials" href="#">המלצות</a></li>
            <li><a class="functions" href="#">תכונות</a></li>
            <li><a class="btn&#45;&#45;show-contact" href="#">צור קשר</a></li>
            <li><a class="sign-up" href="#">להרשמה חינמ</a></li>
        </ul>
        <div id="logo">
            <a href="#">JoyMe</a>
        </div>
    </nav>-->
    <div class="text-block">
        <h1 class="title">JoyMe</h1>
        <h2 class="sub-title">המקום בו זוגות מוצאים זה את זה</h2>
        <div class="download">
            <!--
                            <a href="https://app.adjust.com/goc7ths?campaign=homepage(id 129)"><img src="https://taimi.com/themes/taimi/assets/images/app_store.svg" alt="Taimi > Best Gay And LGBTQ+ - Photo #1"></a>
            -->
            <a href="https://app.adjust.com/goc7ths?campaign=homepage(id 129)" class="right"><img
                    src="https://taimi.com/themes/taimi/assets/images/google_play.svg"
                    alt="Taimi > Best Gay And LGBTQ+ - Photo #2"></a>
        </div>
    </div>
    <video
            id="video"
            autoplay="autoplay"
            preload="auto"
            muted
            loop
            class="video-background"
    >
        <source src="./assets/media/bg/video-desktop.mov" type="video/mp4"/>
    </video>
    <div class="play-video"></div>
    <a>
        <button class="scroll-down"><img src="./assets/media/svg/shapes/arrow-down.svg" alt="Arrow Down"></button>
    </a>
</header>
<section class="sections">
    <div class="section" id="section--1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="section__header">
                        התבטאו, תרגישו בטוחים, תהנו מהממשק הקל והיפה!
                    </h2>
                    <div class="section__description">
                        אנו משקיעים את כל המאמצים וההשראה שלנו ביצירת כלי אינטואיטיבי ובטוח לאנשי LGBTQ + להיפגש ולתקשר.
                        הציגו את עצמכם ב- JoyMe!
                    </div>
                    <div class="appraisal">
                        <span class="rating">4,4</span>
                        <span class="text">out of 5</span>
                    </div>
                    <div class="rating_img">
                        <img src="https://taimi.com/themes/taimi/assets/images/rating_45.svg"
                             alt="Taimi > Best Gay And LGBTQ+ - Photo #4">
                    </div>
                    <div class="down_text">
                        Average store rating
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img_cont">
                        <img src="https://taimi.com/themes/taimi/assets/images/homepage2.png"
                             alt="Taimi > Best Gay And LGBTQ+ - Photo #5">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section--2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title_block">
                        <div class="circle">
                            <img src="https://taimi.com/themes/taimi/assets/images/XL.svg"
                                 alt="Taimi > Best Gay And LGBTQ+ - Photo #13">
                        </div>
                        <div class="section__header">
                            גרסת פרימיום ל- JoyMe
                        </div>
                    </div>
                    <div class="section__description">
                        חלק מהתכונות העומדות לרשות המנויים
                    </div>
                    <div class="row d-none d-md-flex">
                        <div class="col-md-4">
                            <div class="conic-gradient">
                                <img class="img_icon"
                                     src="https://taimi.com/themes/taimi/assets/images/elements-badge-special-rainbow-like.svg"
                                     alt="Taimi > Best Gay And LGBTQ+ - Photo #15">
                            </div>
                            <div class="features__title">
                                Rainbow likes
                            </div>
                            <div class="features__description">
                                Want to go on a date ASAP? Get 3x times more matches with Rainbow Likes.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="img_icon"
                                 src="https://taimi.com/themes/taimi/assets/images/elements-badge-special-rollback.svg"
                                 alt="Taimi > Best Gay And LGBTQ+ - Photo #16">
                            <div class="features__title">
                                Rollbacks
                            </div>
                            <div class="features__description">
                                Swiped left on a great person? No need to panic, use Rollback to undo your hasty swipe.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="img_icon"
                                 src="https://taimi.com/themes/taimi/assets/images/elements-badge-special-spot-search.svg"
                                 alt="Taimi > Best Gay And LGBTQ+ - Photo #17">
                            <div class="features__title">
                                חיפוש מתקדם
                            </div>
                            <div class="features__description">
                                Look for a match from any place in the World with Taimi’s Spot Search.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img_cont">
                        <img src="https://taimi.com/themes/taimi/assets/images/homepage7.png"
                             alt="Taimi > Best Gay And LGBTQ+ - Photo #14">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section features" id="section--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="section__header">
                        ל- JoyMe יש את כל מה שאתה צריך
                    </h2>
                    <div class="section__description">
                        אנו מפתחים את האפליקציה עבורך ואיתך - כל תכונות JoyMe מעוצבות על ידי המשתמשים שלנו.
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 feature">
                    <div class="img_cont">
                        <img src="https://taimi.com/themes/taimi/assets/images/homepage3.png"
                             alt="Taimi > Best Gay And LGBTQ+ - Photo #6">
                    </div>

                    <img src="https://taimi.com/themes/taimi/assets/images/discovery.svg" alt="" class="icon">
                    <div class="features__title">
                        תגלית
                    </div>
                    <div class="features__description">
                        למצוא במהירות ובקלות חברים ומערכות יחסים
                    </div>
                </div>
                <div class="col-md-3 col-6 feature">
                    <div class="img_cont">
                        <img src="https://taimi.com/themes/taimi/assets/images/homepage4.png"
                             alt="Taimi > Best Gay And LGBTQ+ - Photo #7">
                    </div>
                    <img src="https://taimi.com/themes/taimi/assets/images/use_digest.svg"
                         alt="Taimi > Best Gay And LGBTQ+ - Photo #6" class="icon">
                    <div class="features__title">
                        Use Digest
                    </div>
                    <div class="features__description">
                        to share your thoughts and ideas through posts and stories
                    </div>
                </div>
                <div class="col-md-3 col-6 feature">
                    <div class="img_cont">
                        <img src="https://taimi.com/themes/taimi/assets/images/homepage5.png"
                             alt="Taimi > Best Gay And LGBTQ+ - Photo #9">
                    </div>
                    <img src="https://taimi.com/themes/taimi/assets/images/create_and_follow_groups.svg"
                         alt="Taimi > Best Gay And LGBTQ+ - Photo #10" class="icon">

                    <div class="features__title">
                        Create and Follow Groups
                    </div>
                    <div class="features__description">
                        to stay up to date on the latest news in the community
                    </div>
                </div>
                <div class="col-md-3 col-6 feature">
                    <div class="img_cont">
                        <img src="https://taimi.com/themes/taimi/assets/images/homepage6.png"
                             alt="Taimi > Best Gay And LGBTQ+ - Photo #11">
                    </div>
                    <div class="features__icon">
                        <img src="./assets/media/svg/icons/General/verified.svg">
                    </div>

                    <div class="features__title">
                        Stay safe with Taimi Protect
                    </div>
                    <div class="features__description">
                        and multiple user verification levels.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section--4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section__description">עדיין לא בטוח?</h2>
                    <h3 class="section__header">אלפי משתמשים כבר בוחרים בנו</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-12 d-md-block d-none">
                    <div class="testimonials">
                        <div class="testimonial">
                            <div class="block">
                                <div class="info">
                                    <img src="https://taimi.com/themes/taimi/assets/images/avatar.png" alt="">
                                    <div>
                                        <div class="name">Jerry Elliott</div>
                                    </div>
                                </div>
                                <div class="text">
                                    Taimi is such a fun, easy app to use when I want to connect with people in
                                    my community. The new Taimi app offers a pleasing experience when it comes
                                    to meeting new friends. Sign up and enjoy.
                                </div>
                            </div>
                        </div>
                        <div class="testimonial"
                        >
                            <div class="block">
                                <div class="info">
                                    <img src="https://taimi.com/themes/taimi/assets/images/michael.jpg" alt="">
                                    <div>
                                        <div class="name">Michael Albert</div>
                                    </div>
                                </div>
                                <div class="text">
                                    Taimi allows me to personalize my profile in a way that makes me feel well
                                    represented and confident when talking to new people. You can even add your
                                    zodiac sign! This Pisces is sold.
                                </div>
                            </div>
                        </div>
                        <div class="testimonial"
                        >
                            <div class="block">
                                <div class="info">
                                    <img src="https://taimi.com/themes/taimi/assets/images/scott.jpg" alt="">
                                    <div>
                                        <div class="name">Scott Frenzel</div>
                                    </div>
                                </div>
                                <div class="text">
                                    Taimi has been a great tool for me to connect with guys both locally and
                                    across the globe. The app's commitment to security, safety and authenticity
                                    in dating is unmatched and it certainly shows with the quality of guys I
                                    have been able to meet through using Taimi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex d-md-none">
                <div class="col-12">
                    <div class="block">
                        <div class="info">
                            <img src="https://taimi.com/themes/taimi/assets/images/avatar.png" alt="">
                            <div>
                                <div class="name">Jerry Elliott</div>
                                <div class="link">@alexander_w_jackson</div>
                            </div>
                        </div>
                        <div class="text">
                            Taimi is such a fun, easy app to use when I want to connect with people in my community. The
                            new Taimi app offers a pleasing experience when it comes to meeting new friends. Sign up and
                            enjoy.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="block">
                        <div class="info">
                            <img src="https://taimi.com/themes/taimi/assets/images/michael.jpg" alt="">
                            <div>
                                <div class="name">Michael Albert</div>
                                <div class="link">@malberttttt</div>
                            </div>
                        </div>
                        <div class="text">
                            Taimi allows me to personalize my profile in a way that makes me feel well represented and
                            confident when talking to new people. You can even add your zodiac sign! This Pisces is
                            sold.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="block">
                        <div class="info">
                            <img src="https://taimi.com/themes/taimi/assets/images/scott.jpg" alt="">
                            <div>
                                <div class="name">Scott Frenzel</div>
                                <div class="link">@scott.frenzel</div>
                            </div>
                        </div>
                        <div class="text">
                            Taimi has been a great tool for me to connect with guys both locally and across the globe.
                            The app's commitment to security, safety and authenticity in dating is unmatched and it
                            certainly shows with the quality of guys I have been able to meet through using Taimi.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="line2 order-lg-0">
        <div>
            <a href="/privacypolicy" class="btn btn-taimi" aria-current="page">
                <div><span>מדיניות פרטיות</span></div>
            </a>
        </div>
        <div>
            <a href="/terms" class="btn btn-taimi" aria-current="page">
                <div><span>תנאי השירות</span></div>
            </a>
        </div>
        <div>
            <a href="/contacts" class="btn btn-taimi" aria-current="page">
                <div><span>צור קשר</span></div>
            </a>
        </div>
    </div>
    <div class="copy d-block order-lg-1">
        © 2021 JoyMe. כל הזכויות שמורות
    </div>
</footer>
<div class="overlay hidden"></div>
<div class="modal--popup hidden">
    <button class="btn--close-modal">×</button>
    <h2 class="modal__header">
        צור קשר
    </h2>
    <form class="modal__form">
        <label>סיבת הפניה</label>
        <input type="text">
        <label>השם שלך</label>
        <input type="text">
        <label>האימייל שלך</label>
        <input type="email">
        <label>הודעה</label>
        <textarea></textarea>
        <button class="btn">Next step →</button>
    </form>
</div>
